<div class="header"><h1>- INTERVENTION -</h1></div>
<div class="patient-detail-container">
  <div class="patient-comment-box-container" *ngIf="intervention?.text_intervention_others != null">
    <h2>Other interventions:</h2>
    <h2>{{text_intervention_others}}</h2>
  </div>

  <div class="patient-comment-box-container" *ngIf="intervention?.type_intervention_intubations != null">
    <h2>Intubation type:</h2>
    <h2>{{type_intervention_intubations}}</h2>
  </div>

  <div class="patient-comment-box-container" *ngIf="intervention?.other_text_intervention_intubation != null">
    <h2>Intubation notes:</h2>
    <h2>{{other_text_intervention_intubation}}</h2>
  </div>

  <div class="patient-comment-box-container" *ngIf="intervention?.type_intervention_cannulations != null">
    <h2>Cannulation type:</h2>
    <h2>{{type_intervention_cannulations}}</h2>
  </div>

  <div class="patient-comment-box-container" *ngIf="intervention?.location_intervention_cannulations != null">
    <h2>Cannulation location:</h2>
    <h2>{{location_intervention_cannulations}}</h2>
  </div>

  <div class="patient-comment-box-container" *ngIf="intervention?.other_text_intervention_cannulations != null">
    <h2>Cannulation notes:</h2>
    <h2>{{other_text_intervention_cannulations}}</h2>
  </div>

  <div class="patient-comment-box-container" *ngIf="intervention?.value_intervention_shocks != null || intervention?.value_intervention_shockcs != null">
    <h2>Shocks:</h2>
    <h2>{{arrayToString.arrayToString([intervention?.value_intervention_shocks, intervention?.value_intervention_shockcs])}}</h2>
  </div>

  <div class="patient-detail-box-container" *ngIf="intervention?.existing_anesthesia == 1 || intervention?.existing_bandages == 1 || intervention?.existing_cervical_collar == 1 || intervention?.existing_gastric_tube == 1 || intervention?.existing_permanent_catheter == 1">
    <div class="patient-detail-box-description-container">
      <h2>Interventions present before admission:</h2>
    </div>
    <div class="patient-detail-box-information-container">
      <h2 *ngIf="intervention?.existing_anesthesia == 1">Anesthesia</h2>
      <h2 *ngIf="intervention?.existing_bandages == 1">Bandages</h2>
      <h2 *ngIf="intervention?.existing_cervical_collar == 1">Cervical collar</h2>
      <h2 *ngIf="intervention?.existing_gastric_tube == 1">Gastric tube</h2>
      <h2 *ngIf="intervention?.existing_permanent_catheter == 1">Permanent catheter</h2>
    </div>
  </div>

  <div class="patient-comment-box-container" *ngIf="interventionsPerformed.length != 0">
    <h2>Actions taken:</h2>
    <div class="patient-detail-box-information-container">
      <h2>{{arrayToString.arrayToString(interventionsPerformed)}}</h2>
    </div>
  </div>
  <app-simple-yes-no-detail-display [description]="'Emergency intervention:'" [input]="intervention?.emergency_intervention"></app-simple-yes-no-detail-display>
  <app-simple-yes-no-detail-display [description]="'Ultrasound used:'" [input]="intervention?.ultrasound_used"></app-simple-yes-no-detail-display>
  <app-simple-yes-no-detail-display [description]="'Aspiration during intubation:'" [input]="intervention?.aspiration_during_intubation"></app-simple-yes-no-detail-display>
  <app-simple-yes-no-detail-display [description]="'Intubation not possible:'" [input]="intervention?.intubation_not_possible"></app-simple-yes-no-detail-display>
  <app-simple-yes-no-detail-display [description]="'No intervention performed:'" [input]="intervention?.no_intervention_performed"></app-simple-yes-no-detail-display>
  <app-simple-yes-no-detail-display [description]="'ECG used:'" [input]="intervention?.ecg_performed"></app-simple-yes-no-detail-display>
  <app-simple-yes-no-detail-display [description]="'Patient has port:'" [input]="intervention?.patient_has_port"></app-simple-yes-no-detail-display>
</div>
