<div class="header"><h1>- CARDIOLOGY -</h1></div>
<div class="patient-detail-container">

  <div class="patient-comment-box-container" *ngIf="cardio?.text_ecg_comment_objective != null">
    <h2>Primary objective ECG comment</h2>
    <div class="patient-detail-box-information-container">
      <h2>{{text_ecg_comment_objective}}</h2>
    </div>
  </div>

  <div class="patient-comment-box-container" *ngIf="cardio?.text_ecg_comment_primary_assessment != null">
    <h2>Primary ECG assessment comment</h2>
    <div class="patient-detail-box-information-container">
      <h2>{{text_ecg_comment_primary_assessment}}</h2>
    </div>
  </div>

  <div class="patient-comment-box-container" *ngIf="cardio?.text_primary_assessment_ecg != null">
    <h2>Primary ECG assessment</h2>
    <div class="patient-detail-box-information-container">
      <h2>{{text_primary_assessment_ecg}}</h2>
    </div>
  </div>

  <div class="patient-comment-box-container" *ngIf="cardio?.text_objectiv_ecg != null">
    <h2>Objective ECG</h2>
    <div class="patient-detail-box-information-container">
      <h2>{{text_objectiv_ecg}}</h2>
    </div>
  </div>

  <div class="patient-detail-box-container" *ngIf="cardio?.stroke_unit_no == 1 || cardio?.stroke_unit_yes == 1 || cardio?.stroke_unit_refused == 1">
    <div class="patient-detail-box-description-container">
      <h2>Patient in stroke unit:</h2>
    </div>
    <div class="patient-detail-box-information-container">
      <h2 *ngIf="cardio?.stroke_unit_no == 1"><mat-icon>close</mat-icon></h2>
      <h2 *ngIf="cardio?.stroke_unit_yes == 1"><mat-icon>check</mat-icon></h2>
      <h2 *ngIf="cardio?.stroke_unit_refused == 1">Refused</h2>
    </div>
  </div>

  <div class="patient-detail-box-container" *ngIf="cardio?.twelve_lead_ecg_right_heart != null">
    <div class="patient-detail-box-description-container">
      <h2>Twelve lead ECG right heart:</h2>
    </div>
    <div class="patient-detail-box-information-container">
      <h2 *ngIf="cardio?.twelve_lead_ecg_right_heart == 0"><mat-icon>close</mat-icon></h2>
      <h2 *ngIf="cardio?.twelve_lead_ecg_right_heart == 1"><mat-icon>check</mat-icon></h2>
    </div>
  </div>

  <div class="patient-detail-box-container">
    <div class="patient-detail-box-description-container">
      <h2>Wake-up stroke:</h2>
    </div>
    <div class="patient-detail-box-information-container">
      <h2 *ngIf="cardio?.wake_up_stroke == 0"><mat-icon>close</mat-icon></h2>
      <h2 *ngIf="cardio?.wake_up_stroke == 1"><mat-icon>check</mat-icon></h2>
    </div>
  </div>

  <div class="patient-detail-box-container" *ngIf="cardio?.cath_lab_status_no == 1 || cardio?.cath_lab_status_yes == 1 || cardio?.cath_lab_refused == 1">
    <div class="patient-detail-box-description-container">
      <h2>Patient taken to cath lab:</h2>
    </div>
    <div class="patient-detail-box-information-container">
      <h2 *ngIf="cardio?.cath_lab_status_no == 1"><mat-icon>close</mat-icon></h2>
      <h2 *ngIf="cardio?.cath_lab_status_yes == 1"><mat-icon>check</mat-icon></h2>
      <h2 *ngIf="cardio?.cath_lab_refused == 1">Refused</h2>
    </div>
  </div>

  <div class="patient-detail-box-container" *ngIf="cardio?.ecg_lead_transmission_yes == 1 || cardio?.ecg_lead_transmission_no == 1
                                                   || cardio?.ecg_lead_no_transmission_other_reason == 1 || cardio?.ecg_lead_no_transmission_not_medically_necessary == 1">
    <div class="patient-detail-box-description-container">
      <h2>ECG lead transmitted:</h2>
    </div>
    <div class="patient-detail-box-information-container">
      <h2 *ngIf="cardio?.ecg_lead_transmission_no == 1 && cardio?.ecg_lead_no_transmission_other_reason == 0 && cardio?.ecg_lead_no_transmission_not_medically_necessary == 0"><mat-icon>close</mat-icon></h2>
      <h2 *ngIf="cardio?.ecg_lead_no_transmission_other_reason == 1">No, other reason</h2>
      <h2 *ngIf="cardio?.ecg_lead_no_transmission_not_medically_necessary == 1">No, not medically necessary</h2>
      <h2 *ngIf="cardio?.ecg_lead_transmission_yes == 1"><mat-icon><mat-icon>check</mat-icon></mat-icon></h2>
    </div>
  </div>

  <div class="patient-detail-box-container" *ngIf="cardio?.ecg_lead_transmission_result_direct_to_emergency == 1 || cardio?.ecg_lead_transmission_result_direct_to_ptca == 1 || cardio?.ecg_lead_transmission_result_no_response == 1">
    <div class="patient-detail-box-description-container">
      <h2>ECG lead transmission result:</h2>
    </div>
    <div class="patient-detail-box-information-container">
      <h2 *ngIf="cardio?.ecg_lead_transmission_result_direct_to_emergency == 1">Taken to ER</h2>
      <h2 *ngIf="cardio?.ecg_lead_transmission_result_direct_to_ptca == 1">Immediate PTCA</h2>
      <h2 *ngIf="cardio?.ecg_lead_transmission_result_no_response == 1">No response</h2>
    </div>
  </div>

  <div class="patient-detail-box-container">
    <div class="patient-detail-box-description-container">
      <h2>Bundle branch block:</h2>
    </div>
    <div class="patient-detail-box-information-container">
      <h2 *ngIf="cardio?.bundle_branch_block == 1 && cardio?.left_bundle_branch_block == 0 && cardio?.right_bundle_branch_block == 0"><mat-icon>check</mat-icon></h2>
      <h2 *ngIf="cardio?.left_bundle_branch_block == 1">Yes, left</h2>
      <h2 *ngIf="cardio?.right_bundle_branch_block == 1">Yes, right</h2>
      <h2 *ngIf="cardio?.bundle_branch_block == 0 && cardio?.left_bundle_branch_block == 0 && cardio?.right_bundle_branch_block == 0"><mat-icon>close</mat-icon></h2>
    </div>
  </div>

  <div class="patient-detail-box-container">
    <div class="patient-detail-box-description-container">
      <h2>QRS Tachycardia:</h2>
    </div>
    <div class="patient-detail-box-information-container">
      <h2 *ngIf="cardio?.narrow_qrs_tachycardia == 1 && cardio?.wide_qrs_tachycardia == 0">Yes, narrow</h2>
      <h2 *ngIf="cardio?.narrow_qrs_tachycardia == 0 && cardio?.wide_qrs_tachycardia == 1">Yes, wide</h2>
      <h2 *ngIf="cardio?.narrow_qrs_tachycardia == 0 && cardio?.wide_qrs_tachycardia == 1">Yes, narrow and wide</h2>
      <h2 *ngIf="cardio?.narrow_qrs_tachycardia == 0 && cardio?.wide_qrs_tachycardia == 0"><mat-icon>close</mat-icon></h2>
    </div>
  </div>

  <div class="patient-detail-box-container">
    <div class="patient-detail-box-description-container">
      <h2>Heart attack:</h2>
    </div>
    <div class="patient-detail-box-information-container">
      <h2 *ngIf="cardio?.heart_attack_nstemi == 1 && cardio?.heart_attack_stemi == 0">Yes, NSTEMI</h2>
      <h2 *ngIf="cardio?.heart_attack_nstemi == 0 && cardio?.heart_attack_stemi == 1">Yes, STEMI</h2>
      <h2 *ngIf="cardio?.heart_attack_nstemi == 0 && cardio?.heart_attack_stemi == 1">Yes, NSTEMI + STEMI</h2>
      <h2 *ngIf="cardio?.heart_attack_nstemi == 0 && cardio?.heart_attack_stemi == 0"><mat-icon>close</mat-icon></h2>
    </div>
  </div>

  <app-simple-yes-no-detail-display [description]="'Premature heartbeat:'" [input]="cardio?.premature_heart_beat"></app-simple-yes-no-detail-display>
  <app-simple-yes-no-detail-display [description]="'Stable:'" [input]="cardio?.stable"></app-simple-yes-no-detail-display>
  <app-simple-yes-no-detail-display [description]="'Sinus rhythm:'" [input]="cardio?.sinus_rhythm"></app-simple-yes-no-detail-display>
  <app-simple-yes-no-detail-display [description]="'Atrial fibrillation:'" [input]="cardio?.atrial_fibrillation"></app-simple-yes-no-detail-display>
  <app-simple-yes-no-detail-display [description]="'Arrhythmia:'" [input]="cardio?.arrhythmia"></app-simple-yes-no-detail-display>
  <app-simple-yes-no-detail-display [description]="'Pacemaker:'" [input]="cardio?.pacemaker"></app-simple-yes-no-detail-display>
  <app-simple-yes-no-detail-display [description]="'Cardiac arrest:'" [input]="cardio?.cardiac_arrest"></app-simple-yes-no-detail-display>
  <app-simple-yes-no-detail-display [description]="'Cardiac flatline:'" [input]="cardio?.cardiac_flatline"></app-simple-yes-no-detail-display>

  <app-table-result-display [normal]="cardio?.normal_table_result" [abnormal]="cardio?.abnormal_table_result" [severe]="cardio?.severe_table_result"></app-table-result-display>
</div>
