.search-container{
  display:block;
  align-content: center;
  text-align: center;
  width: 50%;
  margin: auto;
  padding-top: 10%
}

h1{
  color: white;
}

input{
  height: 30px;
  border-radius: 2px;
}

button{
  height: 30px;
}

button mat-icon{
  color: #19d2b0;
  display: inline-block;
}

button:hover mat-icon{
  color: #15181e;
  display: inline-block;
}

.search-bar{
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  justify-content: center;
}
