<div class="header"><h1>- NEUROLOGY -</h1></div>
<div class="patient-detail-container">
  <div class="patient-comment-box-container" *ngIf="neurology?.text_primary_assessment_neuro_abnorms != null">
    <h2>(Original text) Primary neurological abnormalities:</h2>
    <h2>{{neurology?.text_primary_assessment_neuro_abnorms}}</h2>
  </div>

  <div class="patient-comment-box-container" *ngIf="neurology?.text_objectiv_neuro_abnorms != null">
    <h2>(Original text) Objective neurological abnormalities:</h2>
    <h2>{{neurology?.text_objectiv_neuro_abnorms}}</h2>
  </div>

  <div class="patient-comment-box-container" *ngIf="neurology?.neurology_comment != null">
    <h2>(Original text) Inpatient neurology comment:</h2>
    <h2>{{neurology?.neurology_comment}}</h2>
  </div>

  <div class="patient-comment-box-container" *ngIf="neurology?.neurology_comment_assessment_exam_dest != null">
    <h2>(Original text) Neurology comment at destination:</h2>
    <h2>{{neurology?.neurology_comment_assessment_exam_dest}}</h2>
  </div>

  <div class="patient-comment-box-container" *ngIf="neurology?.text_objectiv_psyches != null">
    <h2>(Original text) Objective psychological assessment:</h2>
    <h2>{{neurology?.text_objectiv_psyches}}</h2>
  </div>

  <div class="patient-comment-box-container" *ngIf="neurology?.observation_psychological_condition_comment != null">
    <h2>(Original text) Psychological comment:</h2>
    <h2>{{neurology?.observation_psychological_condition_comment}}</h2>
  </div>

  <div class="patient-detail-box-container" *ngIf="neurology?.text_primary_assessment_neuro_states_awake == 1 || neurology?.text_primary_assessment_neuro_states_unconscious == 1 || neurology?.text_primary_assessment_neuro_states_not_determinable == 1 || neurology?.text_primary_assessment_neuro_states_reacts_to_pain == 1 || neurology?.text_primary_assessment_neuro_states_reacts_to_speech == 1 || neurology?.text_primary_assessment_neuro_states_under_general_anesthesia == 1 ">
    <div class="patient-detail-box-information-container">
      <h2>Primary neurological state:</h2>
    </div>
    <div class="patient-detail-box-information-container">
      <h2 *ngIf="neurology?.text_primary_assessment_neuro_states_awake == 1">Awake</h2>
      <h2 *ngIf="neurology?.text_primary_assessment_neuro_states_unconscious == 1">Unconscious</h2>
      <h2 *ngIf="neurology?.text_primary_assessment_neuro_states_reacts_to_speech == 1">Reacts to speech</h2>
      <h2 *ngIf="neurology?.text_primary_assessment_neuro_states_reacts_to_pain == 1">Reacts to pain</h2>
      <h2 *ngIf="neurology?.text_primary_assessment_neuro_states_under_general_anesthesia == 1">Under general anesthesia</h2>
      <h2 *ngIf="neurology?.text_primary_assessment_neuro_states_not_determinable == 1">Not determinable</h2>
    </div>
  </div>

  <div class="patient-detail-box-container" *ngIf="neurology?.text_objectiv_neuro_states_awake == 1 || neurology?.text_objectiv_neuro_states_unconscious == 1 || neurology?.text_objectiv_neuro_states_not_determinable == 1 || neurology?.text_objectiv_neuro_states_reacts_to_pain == 1 || neurology?.text_objectiv_neuro_states_reacts_to_speech == 1 || neurology?.text_objectiv_neuro_states_under_general_anesthetic == 1 ">
    <div class="patient-detail-box-information-container">
      <h2>Objective neurological state:</h2>
    </div>
    <div class="patient-detail-box-information-container">
      <h2 *ngIf="neurology?.text_objectiv_neuro_states_awake == 1">Awake</h2>
      <h2 *ngIf="neurology?.text_objectiv_neuro_states_unconscious == 1">Unconscious</h2>
      <h2 *ngIf="neurology?.text_objectiv_neuro_states_reacts_to_speech == 1">Reacts to speech</h2>
      <h2 *ngIf="neurology?.text_objectiv_neuro_states_reacts_to_pain == 1">Reacts to pain</h2>
      <h2 *ngIf="neurology?.text_objectiv_neuro_states_under_general_anesthetic == 1">Under general anesthesia</h2>
      <h2 *ngIf="neurology?.text_objectiv_neuro_states_not_determinable == 1">Not determinable</h2>
    </div>
  </div>

  <div class="patient-detail-box-container" *ngIf="neurology?.dementia == 1 || neurology?.neurological_deficit == 1 || neurology?.speech_disorder == 1 || neurology?.sight_disorder == 1 || neurology?.excretion_disorder == 1 || neurology?.lateralizing_signs == 1 || neurology?.psyche_other == 1">
    <div class="patient-detail-box-information-container">
      <h2>Noted abnormalities:</h2>
    </div>
    <div class="patient-detail-box-information-container">
      <h2 *ngIf="neurology?.dementia == 1">Dementia</h2>
      <h2 *ngIf="neurology?.neurological_deficit == 1">Neurological deficit</h2>
      <h2 *ngIf="neurology?.speech_disorder == 1">Speech disorder</h2>
      <h2 *ngIf="neurology?.sight_disorder == 1">Sight disorder</h2>
      <h2 *ngIf="neurology?.excretion_disorder == 1">Excretion disorder</h2>
      <h2 *ngIf="neurology?.lateralizing_signs == 1">Lateralizing signs</h2>
      <h2 *ngIf="neurology?.psyche_other == 1">Abnormal psychological state</h2>
    </div>
  </div>

  <app-simple-yes-no-detail-display [description]="'No neurological abnormalities:'" [input]="neurology?.no_neurological_abnormalities"></app-simple-yes-no-detail-display>
  <app-simple-yes-no-detail-display [description]="'Neurology normal inpatient:'" [input]="neurology?.neurology_normal"></app-simple-yes-no-detail-display>
  <app-simple-yes-no-detail-display [description]="'Neurology normal at destination:'" [input]="neurology?.neurology_normal_assessment_exam_dest"></app-simple-yes-no-detail-display>

  <app-table-result-display [normal]="neurology?.normal_table_result" [abnormal]="neurology?.abnormal_table_result"></app-table-result-display>

</div>
