<div class="header"><h1>- RESPIRATION -</h1></div>
<div class="patient-detail-container">
  <div class="patient-comment-box-container" *ngIf="respiratory?.text_primary_assessment_airways != null">
    <h2>(Original text) Primary airways assessment:</h2>
    <h2>{{respiratory?.text_primary_assessment_airways}}</h2>
  </div>

  <div class="patient-comment-box-container" *ngIf="respiratory?.text_objectiv_airways != null">
    <h2>(Original text) Objective airways assessment:</h2>
    <h2>{{respiratory?.text_objectiv_airways}}</h2>
  </div>

  <div class="patient-comment-box-container" *ngIf="respiratory?.primary_assessment_airways_comment != null">
    <h2>(Original text) Primary airways assessment comment:</h2>
    <h2>{{respiratory?.primary_assessment_airways_comment}}</h2>
  </div>

  <div class="patient-comment-box-container" *ngIf="respiratory?.observation_airways_comment != null">
    <h2>(Original text) Airways observation:</h2>
    <h2>{{respiratory?.observation_airways_comment}}</h2>
  </div>

  <div class="patient-comment-box-container" *ngIf="respiratory?.text_intervention_airways != null">
    <h2>(Original text) Airway intervention:</h2>
    <h2>{{respiratory?.text_intervention_airways}}</h2>
  </div>

  <div class="patient-comment-box-container" *ngIf="respiratory?.text_primary_assessment_respirations != null">
    <h2>(Original text) Primary respiration assessment:</h2>
    <h2>{{respiratory?.text_primary_assessment_respirations}}</h2>
  </div>

  <div class="patient-comment-box-container" *ngIf="respiratory?.text_objectiv_resperations != null">
    <h2>(Original text) Objective respiration assessment:</h2>
    <h2>{{respiratory?.text_objectiv_resperations}}</h2>
  </div>

  <div class="patient-comment-box-container" *ngIf="respiratory?.primary_assessment_breathing_comment != null">
    <h2>(Original text) Primary respiration assessment comment:</h2>
    <h2>{{respiratory?.primary_assessment_breathing_comment}}</h2>
  </div>

  <div class="patient-comment-box-container" *ngIf="respiratory?.observation_breathing_comment != null">
    <h2>(Original text) Respiration observation:</h2>
    <h2>{{respiratory?.observation_breathing_comment}}</h2>
  </div>

  <div class="patient-comment-box-container" *ngIf="respiratory?.text_primary_assessment_resp_lung_sounds != null">
    <h2>(Original text) Primary respiration sounds assessment:</h2>
    <h2>{{respiratory?.text_primary_assessment_resp_lung_sounds}}</h2>
  </div>

  <div class="patient-comment-box-container" *ngIf="respiratory?.text_objectiv_resperation_lung_sounds != null">
    <h2>(Original text) Objective respiration sounds assessment:</h2>
    <h2>{{respiratory?.text_objectiv_resperation_lung_sounds}}</h2>
  </div>

  <div class="patient-comment-box-container" *ngIf="respiratory?.text_intervention_breathings != null">
    <h2>(Original text) Respiration intervention:</h2>
    <h2>{{respiratory?.text_intervention_breathings}}</h2>
  </div>

  <div class="patient-comment-box-container" *ngIf="respiratory?.text_intervention_rescues != null">
    <h2>(Original text) Rescue intervention:</h2>
    <h2>{{respiratory?.text_intervention_rescues}}</h2>
  </div>

  <div class="patient-comment-box-container" *ngIf="respiratory?.mode != null">
    <h2>(Original text) Mode:</h2>
    <h2>{{respiratory?.mode}}</h2>
  </div>

  <div class="patient-comment-box-container" *ngIf="respiratory?.amount_intervention_oxygens != null">
    <h2>Oxygen given:</h2>
    <h2>{{arrayToString([respiratory?.amount_intervention_oxygens])}} LPM</h2>
  </div>

  <div class="patient-comment-box-container" *ngIf="respiratory?.freq != null">
    <h2>Frequency:</h2>
    <h2>{{arrayToString([respiratory?.freq])}}</h2>
  </div>

  <app-simple-variable-display *ngIf="respiratory?.ie != null" [description]="'IE:'" [input]="respiratory?.ie"></app-simple-variable-display>
  <app-simple-variable-display *ngIf="respiratory?.ie2 != null" [description]="'IE2:'" [input]="respiratory?.ie2"></app-simple-variable-display>

  <div class="patient-comment-box-container" *ngIf="respiratory?.asb != null">
    <h2>ASB:</h2>
    <h2>{{arrayToString([respiratory?.asb])}}</h2>
  </div>

  <div class="patient-comment-box-container" *ngIf="respiratory?.pinsp != null">
    <h2>pInsp:</h2>
    <h2>{{arrayToString([respiratory?.pinsp])}} cmH2O</h2>
  </div>

  <div class="patient-comment-box-container" *ngIf="respiratory?.trigger != null">
    <h2>Trigger:</h2>
    <h2>{{arrayToString([respiratory?.trigger])}}</h2>
  </div>

  <div class="patient-comment-box-container" *ngIf="respiratory?.vt != null">
    <h2>Tidal volume:</h2>
    <h2>{{arrayToString([respiratory?.vt])}} ml</h2>
  </div>

  <div class="patient-comment-box-container" *ngIf="respiratory?.peep != null">
    <h2>PEEP:</h2>
    <h2>{{arrayToString([respiratory?.peep])}} cmH2O</h2>
  </div>

  <div class="patient-comment-box-container" *ngIf="respiratory?.rr != null">
    <h2>Respiratory rate inpatient:</h2>
    <h2>{{arrayToString([respiratory?.rr])}} rpm</h2>
  </div>

  <div class="patient-comment-box-container" *ngIf="respiratory?.fio2 != null">
    <h2>Fraction of inspired oxygen:</h2>
    <h2>0.{{arrayToString([respiratory?.fio2])}}</h2>
  </div>

  <div class="patient-comment-box-container" *ngIf="respiratory?.p_max != null">
    <h2>Pmax:</h2>
    <h2>{{arrayToString([respiratory?.p_max])}}</h2>
  </div>

  <div class="patient-comment-box-container" *ngIf="respiratory?.energy != null">
    <h2>Energy:</h2>
    <h2>{{arrayToString([respiratory?.energy])}}</h2>
  </div>

  <app-simple-variable-display *ngIf="respiratory?.respiratory_rate_assess_vital_signs_destination != null" [description]="'Respiratory rate at location:'" [input]="respiratory?.respiratory_rate_assess_vital_signs_destination + ' rpm'"></app-simple-variable-display>
  <app-simple-variable-display *ngIf="respiratory?.in_tr != null" [description]="'InTr:'" [input]="respiratory?.in_tr"></app-simple-variable-display>

  <div class="patient-detail-box-container" *ngIf="respiratory?.obj_resp_airway_managements_spontaneous == 1 || respiratory?.obj_resp_airway_managements_cpap == 1 || respiratory?.obj_resp_airway_managements_controlled == 1 || respiratory?.obj_resp_airway_managements_assisted == 1 || respiratory?.obj_resp_airway_managements_other == 1">
    <div class="patient-detail-box-description-container">
      <h2>Objective airways management:</h2>
    </div>
    <div class="patient-detail-box-information-container">
      <h2 *ngIf="respiratory?.obj_resp_airway_managements_spontaneous == 1">Spontaneous</h2>
      <h2 *ngIf="respiratory?.obj_resp_airway_managements_cpap == 1">CPAP</h2>
      <h2 *ngIf="respiratory?.obj_resp_airway_managements_controlled == 1">Controlled</h2>
      <h2 *ngIf="respiratory?.obj_resp_airway_managements_assisted == 1">Assisted</h2>
      <h2 *ngIf="respiratory?.obj_resp_airway_managements_other == 1">Other</h2>
    </div>
  </div>

  <div class="patient-detail-box-container" *ngIf="respiratory?.primary_assessment_resp_airway_mgt_spontaneous == 1 || respiratory?.primary_assessment_resp_airway_mgt_cpap == 1 || respiratory?.primary_assessment_resp_airway_mgt_controlled == 1 || respiratory?.primary_assessment_resp_airway_mgt_assisted == 1 || respiratory?.primary_assessment_resp_airway_mgt_other == 1">
    <div class="patient-detail-box-description-container">
      <h2>Primary airways management:</h2>
    </div>
    <div class="patient-detail-box-information-container">
      <h2 *ngIf="respiratory?.primary_assessment_resp_airway_mgt_spontaneous == 1">Spontaneous</h2>
      <h2 *ngIf="respiratory?.primary_assessment_resp_airway_mgt_cpap == 1">CPAP</h2>
      <h2 *ngIf="respiratory?.primary_assessment_resp_airway_mgt_controlled == 1">Controlled</h2>
      <h2 *ngIf="respiratory?.primary_assessment_resp_airway_mgt_assisted == 1">Assisted</h2>
      <h2 *ngIf="respiratory?.primary_assessment_resp_airway_mgt_other == 1">Other</h2>
    </div>
  </div>

  <div class="patient-detail-box-container" *ngIf="respiratory?.airways_dry == 1 || respiratory?.airways_wet == 1 || respiratory?.airways_ruddy == 1 || respiratory?.blood_in_airways == 1 || respiratory?.clear_airways == 1">
    <div class="patient-detail-box-description-container">
      <h2>Airway descriptors:</h2>
    </div>
    <div class="patient-detail-box-information-container">
      <h2 *ngIf="respiratory?.airways_dry == 1">Dry</h2>
      <h2 *ngIf="respiratory?.airways_wet == 1">Wet</h2>
      <h2 *ngIf="respiratory?.airways_ruddy == 1">Ruddy</h2>
      <h2 *ngIf="respiratory?.blood_in_airways == 1">Bloody</h2>
      <h2 *ngIf="respiratory?.clear_airways == 1">Clear</h2>
    </div>
  </div>

  <div class="patient-detail-box-container" *ngIf="respiratory?.sibilant_rhonchi == 1 || respiratory?.rales == 1 || respiratory?.stridor == 1">
    <div class="patient-detail-box-description-container">
      <h2>Respiration noise descriptors:</h2>
    </div>
    <div class="patient-detail-box-information-container">
      <h2 *ngIf="respiratory?.sibilant_rhonchi == 1">Sibilant rhonchi</h2>
      <h2 *ngIf="respiratory?.rales == 1">Rales</h2>
      <h2 *ngIf="respiratory?.stridor == 1">Stridor</h2>
    </div>
  </div>

  <div class="patient-detail-box-container" *ngIf="respiratory?.breathing_stable == 1 || respiratory?.spastic_breathing == 1 || respiratory?.weak_breathing == 1 || respiratory?.respiration_normal == 1">
    <div class="patient-detail-box-description-container">
      <h2>Respiration descriptors:</h2>
    </div>
    <div class="patient-detail-box-information-container">
      <h2 *ngIf="respiratory?.breathing_stable == 1">Stable</h2>
      <h2 *ngIf="respiratory?.spastic_breathing == 1">Spastic</h2>
      <h2 *ngIf="respiratory?.weak_breathing == 1">Weak</h2>
      <h2 *ngIf="respiratory?.respiration_normal == 1">Normal</h2>
    </div>
  </div>

  <div class="patient-comment-box-container" *ngIf="interventionsPerformed != ''">
    <h2>Actions taken:</h2>
    <h2>{{interventionsPerformed}}</h2>
  </div>

  <app-simple-yes-no-detail-display [description]="'No intervention performed:'" [input]="respiratory?.no_respiratory_intervention"></app-simple-yes-no-detail-display>
  <app-simple-yes-no-detail-display [description]="'Shortness of breath:'" [input]="respiratory?.shortness_of_breath"></app-simple-yes-no-detail-display>
  <app-simple-yes-no-detail-display [description]="'COPD:'" [input]="respiratory?.copd"></app-simple-yes-no-detail-display>
  <app-simple-yes-no-detail-display [description]="'Coughing:'" [input]="respiratory?.coughing"></app-simple-yes-no-detail-display>
  <app-simple-yes-no-detail-display [description]="'Aspiration:'" [input]="respiratory?.aspiration"></app-simple-yes-no-detail-display>
  <app-simple-yes-no-detail-display [description]="'Tracheostoma present:'" [input]="respiratory?.tracheostoma"></app-simple-yes-no-detail-display>
  <app-simple-yes-no-detail-display [description]="'Apnea:'" [input]="respiratory?.apnea"></app-simple-yes-no-detail-display>
  <app-simple-yes-no-detail-display [description]="'Cyanosis:'" [input]="respiratory?.cyanosis"></app-simple-yes-no-detail-display>
  <app-simple-yes-no-detail-display [description]="'Other abnormalities:'" [input]="respiratory?.other_abnormality"></app-simple-yes-no-detail-display>
  <app-simple-yes-no-detail-display [description]="'Hyperventilation:'" [input]="respiratory?.hyperventilation"></app-simple-yes-no-detail-display>

  <app-table-result-display [normal]="respiratory?.normal_table_result" [abnormal]="respiratory?.abnormal_table_result" [severe]="respiratory?.severe_table_result"></app-table-result-display>

</div>
