<div class="header"><h1>- CASE HISTORY -</h1></div>
<div class="patient-detail-container">
  <div class="patient-large-comment-box-container" *ngIf="conditionPre?.anamnese_info != null">
    <h2>(Original text) Case history:</h2>
    <h2>{{conditionPre?.anamnese_info}}</h2>
  </div>

  <div class="patient-comment-box-container" *ngIf="conditionPre?.pre_existing_condition != null">
    <h2>(Original text) Pre-existing condition:</h2>
    <div class="patient-detail-box-information-container">
      <h2>{{conditionPre?.pre_existing_condition}}</h2>
    </div>
  </div>

  <div class="patient-comment-box-container" *ngIf="conditionPre?.chief_complaint_narrative != null">
    <h2>(Original text) Chief complaint narrative:</h2>
    <div class="patient-detail-box-information-container">
      <h2>{{conditionPre?.chief_complaint_narrative}}</h2>
    </div>
  </div>

  <div class="patient-comment-box-container" *ngIf="conditionPre?.chief_complaint_provocation != null">
    <h2>(Original text) Chief complaint provocation:</h2>
    <div class="patient-detail-box-information-container">
      <h2>{{conditionPre?.chief_complaint_provocation}}</h2>
    </div>
  </div>

  <div class="patient-comment-box-container" *ngIf="conditionPre?.event_beginn != null">
    <h2>(Original text) Complaint began:</h2>
    <div class="patient-detail-box-information-container">
      <h2>{{conditionPre?.event_beginn}}</h2>
    </div>
  </div>

  <div class="patient-comment-box-container" *ngIf="conditionPre?.risk_factors != null">
    <h2>(Original text) Risk factors:</h2>
    <div class="patient-detail-box-information-container">
      <h2>{{conditionPre?.risk_factors}}</h2>
    </div>
  </div>

  <div class="patient-comment-box-container" *ngIf="conditionPre?.chief_complaint_region != null">
    <h2>(Original text) Complaint region:</h2>
    <div class="patient-detail-box-information-container">
      <h2>{{conditionPre?.chief_complaint_region}}</h2>
    </div>
  </div>

  <div class="patient-comment-box-container" *ngIf="conditionPre?.allergy != null">
    <h2>(Original text) Allergies:</h2>
    <div class="patient-detail-box-information-container">
      <h2>{{conditionPre?.allergy}}</h2>
    </div>
  </div>

  <div class="patient-comment-box-container" *ngIf="conditionPre?.medication != null">
    <h2>(Original text) Medications:</h2>
    <div class="patient-detail-box-information-container">
      <h2>{{conditionPre?.medication}}</h2>
    </div>
  </div>

  <div class="patient-detail-box-container" *ngIf="conditionPre?.pregnant_not_possible == 1 || conditionPre?.pregnant_possible == 1 || conditionPre?.pregnant_possible_but_not_pregnant == 1 || conditionPre?.pregnant_possible_and_pregnant == 1">
    <div class="patient-detail-box-description-container">
      <h2>Pregnancy status:</h2>
    </div>
    <div class="patient-detail-box-information-container">
      <h2 *ngIf="conditionPre?.pregnant_not_possible == 1">Not possible</h2>
      <h2 *ngIf="conditionPre?.pregnant_possible == 1">Possible</h2>
      <h2 *ngIf="conditionPre?.pregnant_possible_but_not_pregnant == 1">Possible, but not pregnant</h2>
      <h2 *ngIf="conditionPre?.pregnant_possible_and_pregnant == 1">Pregnant</h2>
    </div>
  </div>

  <div class="patient-comment-box-container">
    <h2>Chief complaint(s):</h2>
    <div class="patient-detail-box-information-container">
      <h2>{{chiefComplaintIdentified}}</h2>
    </div>
  </div>

  <div class="patient-comment-box-container" *ngIf="riskFactorIdentified != ''">
    <h2>Risk factor(s):</h2>
    <div class="patient-detail-box-information-container">
      <h2>{{riskFactorIdentified}}</h2>
    </div>
  </div>

  <div class="patient-comment-box-container" *ngIf="preExistingConditionIdentified != ''">
    <h2>Pre-existing condition(s):</h2>
    <div class="patient-detail-box-information-container">
      <h2>{{preExistingConditionIdentified}}</h2>
    </div>
  </div>

  <div class="patient-detail-box-container" *ngIf="chiefComplaintProvocation != ''">
    <div class="patient-detail-box-description-container">
      <h2>Complaint provoked by:</h2>
    </div>
    <div class="patient-detail-box-information-container">
      <h2>{{chiefComplaintProvocation}}</h2>
    </div>
  </div>

  <div class="patient-detail-box-container" *ngIf="conditionPre?.chief_complaint_caused_by_fall_or_tripping == 1 || conditionPre?.chief_complaint_caused_by_fight == 1 || conditionPre?.chief_complaint_caused_by_accident == 1">
    <div class="patient-detail-box-description-container">
      <h2>Complaint caused by:</h2>
    </div>
    <div class="patient-detail-box-information-container">
      <h2 *ngIf="conditionPre?.chief_complaint_caused_by_fight == 1">Fight</h2>
      <h2 *ngIf="conditionPre?.chief_complaint_caused_by_accident == 1">Accident</h2>
      <h2 *ngIf="conditionPre?.chief_complaint_caused_by_fall_or_tripping == 1">Fall or tripping</h2>
    </div>
  </div>

  <div class="patient-detail-box-container" *ngIf="conditionPre?.chief_complaint_always_present == 1 || conditionPre?.chief_complaint_comes_and_goes == 1 || conditionPre?.chief_complaint_not_changing == 1 || conditionPre?.chief_complaint_improving_condition == 1">
    <div class="patient-detail-box-description-container">
      <h2>Complaint over time:</h2>
    </div>
    <div class="patient-detail-box-information-container">
      <h2 *ngIf="conditionPre?.chief_complaint_always_present == 1">Always present</h2>
      <h2 *ngIf="conditionPre?.chief_complaint_comes_and_goes == 1">Comes and goes</h2>
      <h2 *ngIf="conditionPre?.chief_complaint_not_changing == 1">Not changing</h2>
      <h2 *ngIf="conditionPre?.chief_complaint_improving_condition == 1">Improving</h2>
    </div>
  </div>

  <div class="patient-detail-box-container" *ngIf="conditionPre?.chief_complaint_severity_score != null">
    <div class="patient-detail-box-description-container">
      <h2>Complaint severity:</h2>
    </div>
    <div class="patient-detail-box-information-container">
      <h2>{{conditionPre?.chief_complaint_severity_score}}/10</h2>
    </div>
  </div>

  <div class="patient-detail-box-container" *ngIf="conditionPre?.chief_complaint_palliation_laying == 1 || conditionPre?.chief_complaint_palliation_sitting == 1 || conditionPre?.chief_complaint_palliation_cooling == 1 || conditionPre?.chief_complaint_palliation_warming == 1 || conditionPre?.chief_complaint_palliation_standing == 1">
    <div class="patient-detail-box-description-container">
      <h2>Complaint relieved by:</h2>
    </div>
    <div class="patient-detail-box-information-container">
      <h2 *ngIf="conditionPre?.chief_complaint_palliation_laying == 1">Laying</h2>
      <h2 *ngIf="conditionPre?.chief_complaint_palliation_sitting == 1">Sitting</h2>
      <h2 *ngIf="conditionPre?.chief_complaint_palliation_cooling == 1">Cooling</h2>
      <h2 *ngIf="conditionPre?.chief_complaint_palliation_warming == 1">Warmth</h2>
      <h2 *ngIf="conditionPre?.chief_complaint_palliation_standing == 1">Standing</h2>
    </div>
  </div>

  <div class="patient-detail-box-container" *ngIf="conditionPre?.chief_complaint_quality_pressure == 1 || conditionPre?.chief_complaint_quality_stabbing == 1 || conditionPre?.chief_complaint_quality_pulling == 1 || conditionPre?.chief_complaint_quality_dizzy == 1 || conditionPre?.chief_complaint_quality_burning == 1 || conditionPre?.chief_complaint_quality_tearing == 1 || conditionPre?.chief_complaint_pain_or_discomfort_radiating == 1">
    <div class="patient-detail-box-description-container">
      <h2>Complaint described as:</h2>
    </div>
    <div class="patient-detail-box-information-container">
      <h2 *ngIf="conditionPre?.chief_complaint_quality_pressure == 1">Pressure</h2>
      <h2 *ngIf="conditionPre?.chief_complaint_quality_stabbing == 1">Stabbing</h2>
      <h2 *ngIf="conditionPre?.chief_complaint_quality_pulling == 1">Pulling</h2>
      <h2 *ngIf="conditionPre?.chief_complaint_quality_dizzy == 1">Dizzying</h2>
      <h2 *ngIf="conditionPre?.chief_complaint_quality_burning == 1">Burning</h2>
      <h2 *ngIf="conditionPre?.chief_complaint_quality_tearing == 1">Tearing</h2>
      <h2 *ngIf="conditionPre?.chief_complaint_pain_or_discomfort_radiating == 1">Radiating</h2>
    </div>
  </div>

  <div class="patient-detail-box-container" *ngIf="conditionPre?.chief_complaint_began_less_than_an_hour_ago == 1 || conditionPre?.chief_complaint_began_less_than_four_hours_ago == 1 || conditionPre?.chief_complaint_began_less_than_twelve_hours_ago == 1 || conditionPre?.chief_complaint_began_less_than_twenty_four_hours_ago == 1 || conditionPre?.chief_complaint_began_less_than_one_week_ago == 1 || conditionPre?.chief_complaint_began_less_than_one_month_ago == 1">
    <div class="patient-detail-box-description-container">
      <h2>Complaint began:</h2>
    </div>
    <div class="patient-detail-box-information-container">
      <h2 *ngIf="conditionPre?.chief_complaint_began_less_than_an_hour_ago == 1">Less than an hour ago</h2>
      <h2 *ngIf="conditionPre?.chief_complaint_began_less_than_four_hours_ago == 1">Less than four hours ago</h2>
      <h2 *ngIf="conditionPre?.chief_complaint_began_less_than_twelve_hours_ago == 1">Less than twelve hours ago</h2>
      <h2 *ngIf="conditionPre?.chief_complaint_began_less_than_twenty_four_hours_ago == 1">Less than one day ago</h2>
      <h2 *ngIf="conditionPre?.chief_complaint_began_less_than_one_week_ago == 1">Less than one week ago</h2>
      <h2 *ngIf="conditionPre?.chief_complaint_began_less_than_one_month_ago == 1">Less than one month ago</h2>
    </div>
  </div>

  <div class="patient-detail-box-container" *ngIf="conditionPre?.last_excretion_less_than_one_hour_ago == 1 || conditionPre?.last_excretion_less_than_four_hours_ago == 1 || conditionPre?.last_excretion_less_than_twelve_hours_ago == 1 || conditionPre?.last_excretion_less_than_one_week_ago == 1 || conditionPre?.last_excretion_less_than_one_day_ago == 1 || conditionPre?.last_excretion_less_than_one_month_ago == 1">
    <div class="patient-detail-box-description-container">
      <h2>Last excretion:</h2>
    </div>
    <div class="patient-detail-box-information-container">
      <h2 *ngIf="conditionPre?.last_excretion_less_than_one_hour_ago == 1">Less than one hour ago</h2>
      <h2 *ngIf="conditionPre?.last_excretion_less_than_four_hours_ago == 1">Less than four hours ago</h2>
      <h2 *ngIf="conditionPre?.last_excretion_less_than_twelve_hours_ago == 1">Less than twelve hours ago</h2>
      <h2 *ngIf="conditionPre?.last_excretion_less_than_one_day_ago == 1">Less than one day ago</h2>
      <h2 *ngIf="conditionPre?.last_excretion_less_than_one_week_ago == 1">Less than one week ago</h2>
      <h2 *ngIf="conditionPre?.last_excretion_less_than_one_month_ago == 1">Less than one month ago</h2>
    </div>
  </div>

  <div class="patient-detail-box-container" *ngIf="conditionPre?.last_meal_less_than_one_hour_ago == 1 || conditionPre?.last_meal_less_than_four_hours_ago == 1 || conditionPre?.last_meal_less_than_twelve_hours_ago == 1 || conditionPre?.last_meal_less_than_one_week_ago == 1 || conditionPre?.last_meal_less_than_one_day_ago == 1 || conditionPre?.last_meal_less_than_one_month_ago == 1">
    <div class="patient-detail-box-description-container">
      <h2>Last meal:</h2>
    </div>
    <div class="patient-detail-box-information-container">
      <h2 *ngIf="conditionPre?.last_meal_less_than_one_hour_ago == 1">Less than one hour ago</h2>
      <h2 *ngIf="conditionPre?.last_meal_less_than_four_hours_ago == 1">Less than four hours ago</h2>
      <h2 *ngIf="conditionPre?.last_meal_less_than_twelve_hours_ago == 1">Less than twelve hours ago</h2>
      <h2 *ngIf="conditionPre?.last_meal_less_than_one_day_ago == 1">Less than one day ago</h2>
      <h2 *ngIf="conditionPre?.last_meal_less_than_one_week_ago == 1">Less than one week ago</h2>
      <h2 *ngIf="conditionPre?.last_meal_less_than_one_month_ago == 1">Less than one month ago</h2>
    </div>
  </div>

  <div class="patient-detail-box-container" *ngIf="conditionPre?.last_mens_current == 1 || conditionPre?.last_mens_more_than_a_month_ago == 1 || conditionPre?.last_mens_less_than_a_week_ago == 1 || conditionPre?.last_mens_less_than_one_month_ago == 1">
    <div class="patient-detail-box-description-container">
      <h2>Last menstrual period:</h2>
    </div>
    <div class="patient-detail-box-information-container">
      <h2 *ngIf="conditionPre?.last_mens_current == 1">Current</h2>
      <h2 *ngIf="conditionPre?.last_mens_less_than_a_week_ago == 1">Less than one week ago</h2>
      <h2 *ngIf="conditionPre?.last_mens_less_than_one_month_ago == 1">Less than one month ago</h2>
      <h2 *ngIf="conditionPre?.last_mens_more_than_a_month_ago == 1">More than one month ago</h2>
    </div>
  </div>

  <app-simple-yes-no-detail-display [description]="'Bacterial infection present:'" [input]="conditionPre?.bacterial_infection"></app-simple-yes-no-detail-display>
  <app-simple-yes-no-detail-display [description]="'Allergic to penicillin:'" [input]="conditionPre?.allergic_to_penicillin"></app-simple-yes-no-detail-display>
  <app-simple-yes-no-detail-display [description]="'Allergic to pollen/grass/dust:'" [input]="conditionPre?.allergic_to_pollen_grass_dust"></app-simple-yes-no-detail-display>
  <app-simple-yes-no-detail-display [description]="'Taking medicine:'" [input]="conditionPre?.taking_medicine"></app-simple-yes-no-detail-display>

</div>

