/* Global Styles */

* {
  font-family: 'Roboto', Arial, sans-serif;
  color: #a9a9a9;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header {
  padding-top:50px;
  text-align:center;
}

.patient-detail-container{
  display: grid;
  gap: 1rem;
  align-content: center;
  justify-content: center;
  width: 75%;
  flex-direction: row;
  /*column-gap: 16px;
  row-gap: 10px;*/
  flex-wrap: wrap;
  margin: auto;
  grid-template-columns: repeat(auto-fit, minmax(300px, 0fr));
}

/*.patient-detail-container .patient-detail-box-container {
  margin: .5em;
}*/

.patient-detail-box-container, .patient-comment-box-container, .patient-large-comment-box-container {
  box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%), 0 4px 20px 0 rgb(0 0 0 / 20%);
  /*background-color: #20242d;*/
  background-color: #181c23;
  border-radius: 2px;
}

.patient-detail-box-container{
  display: grid;
  align-content: center;
  text-align: center;
  vertical-align: middle;
  /*width: 300px;*/
  padding-top: 10px;
  padding-right: 10px;
  grid-template-columns: auto auto;
  column-gap: 16px;
  row-gap: 10px;
  border: thin solid #a9a9a9;
  height: 100%
}

.patient-comment-box-container{
  display: grid;
  align-content: center;
  text-align: center;
  vertical-align: middle;
  /*width: 400px;*/
  padding-top: 10px;
  padding-right: 10px;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  column-gap: 16px;
  row-gap: 10px;
  border: thin solid #a9a9a9;
}

.patient-large-comment-box-container{
  display: grid;
  align-content: center;
  text-align: center;
  vertical-align: middle;
  /*width: 1200px;*/
  padding-top: 10px;
  padding-right: 10px;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  column-gap: 16px;
  row-gap: 10px;
  border: thin solid #a9a9a9;
  grid-column: 1 / -1;
}

.patient-detail-box-description-container{
  display: block;
  min-width: auto;
  max-width: 200px;
  padding-right: 10px;
  flex-direction: row;
  flex-wrap: wrap;
}

.patient-detail-box-information-container{
  display: block;
  flex-direction: row;
  flex-wrap: wrap;
}

body {
  margin: 0;
  background-color: #15181e;
}

.container {
  display: flex;
  flex-direction: row;
}

router-outlet + *  {
  padding: 0 16px;
}

/* Text */

h1 {
  font-size: 32px;
}

h2 {
  font-size: 20px;
}

h1, h2 {
  font-weight: lighter;
}

p {
  font-size: 14px;
}

/* Hyperlink */

a {
  cursor: pointer;
  color: #19d2b0;
  text-decoration: none;
}

a:hover {
  opacity: 0.8;
}

/* Input */
input {
  font-size: 14px;
  border-radius: 2px;
  border: 1mm;
  padding: 8px;
  margin-bottom: 16px;
}

label {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 4px;
  display: block;
  text-transform: uppercase;
}

/* Button */

.button, button {
  display: inline-flex;
  align-items: center;
  padding: 8px 16px;
  border-radius: 2px;
  font-size: 14px;
  cursor: pointer;
  color: #19d2b0;
  border: thin solid #19d2b0;
  background-color: transparent;
  vertical-align: middle;
  transition: all 0.3s;
}

.button:hover, button:hover {
  background-color: #19d2b0;
  opacity: 0.8;
  color: #15181e;
  font-weight: normal;
  transform: scale(1.05);
}

.button:disabled, button:disabled {
  opacity: 0.5;
  cursor: auto;
}

/* Fancy Button */

.fancy-button {
  color: #15181e;
  background-color: #19d2b0;
}

.fancy-button mat-icon {
  color: #15181e;
  padding-right: 4px;
}

/* Top Bar */

app-top-bar {
  width: 100%;
  height: 68px;
  background-color: #2e3138;
  padding: 16px;
  display: block;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

app-top-bar h1 {
  color: white;
  margin: 0;
  text-align: center;
}

/* Nav bar */

app-navigation-bar {
  width: 100%;
  height: 34px;
  background-color: #202327;
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

app-navigation-bar h2 {
  color: white;
  margin: 0;
  text-align: center;
}

app-navigation-bar a {
  color: white;
  margin: 0;
  text-align: center;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
