<div class="header"><h1>- EXPERT COMMENTS -</h1></div>
<div class="patient-detail-container">
  <div class="patient-large-comment-box-container" *ngIf="expertComment?.text != null">
    <h2>(Original text) Notes:</h2>
    <h2>{{expertComment?.text}}</h2>
  </div>

  <div class="patient-comment-box-container" *ngIf="expertComment?.comment != null">
    <h2>(Original text) General comment:</h2>
    <h2>{{expertComment?.comment}}</h2>
  </div>

  <div class="patient-comment-box-container" *ngIf="expertComment?.comment_assess_vital_signs_destination != null">
    <h2>(Original text) Vital sign assessment at destination:</h2>
    <h2>{{expertComment?.comment_assess_vital_signs_destination}}</h2>
  </div>

  <div class="patient-comment-box-container" *ngIf="expertComment?.other_text_providers_impressions != null">
    <h2>(Original text) Providers impressions:</h2>
    <h2>{{expertComment?.other_text_providers_impressions}}</h2>
  </div>

  <div class="patient-comment-box-container" *ngIf="expertComment?.text_trend_defib_notes != null">
    <h2>(Original text) Defibrillation notes:</h2>
    <h2>{{expertComment?.text_trend_defib_notes}}</h2>
  </div>

  <div class="patient-comment-box-container" *ngIf="expertComment?.text_pri_assessment_circ_others != null">
    <h2>(Original text) Primary circulation assessment:</h2>
    <h2>{{expertComment?.text_pri_assessment_circ_others}}</h2>
  </div>

  <div class="patient-comment-box-container" *ngIf="expertComment?.text_objectiv_circulation_others != null">
    <h2>(Original text) Objective circulation assessment:</h2>
    <h2>{{expertComment?.text_objectiv_circulation_others}}</h2>
  </div>

  <div class="patient-comment-box-container" *ngIf="expertComment?.text_pri_assessment_circulation != null">
    <h2>(Original text) Primary circulation notes:</h2>
    <h2>{{expertComment?.text_pri_assessment_circulation}}</h2>
  </div>

  <div class="patient-comment-box-container" *ngIf="expertComment?.text_objectiv_circulations != null">
    <h2>(Original text) Objective circulation notes:</h2>
    <h2>{{expertComment?.text_objectiv_circulations}}</h2>
  </div>

  <div class="patient-comment-box-container" *ngIf="expertComment?.text_pri_assessment_skin != null">
    <h2>(Original text) Primary skin assessment:</h2>
    <h2>{{expertComment?.text_pri_assessment_skin}}</h2>
  </div>

  <div class="patient-comment-box-container" *ngIf="expertComment?.text_objectiv_skin_assessment != null">
    <h2>(Original text) Objective skin assessment:</h2>
    <h2>{{expertComment?.text_objectiv_skin_assessment}}</h2>
  </div>

  <div class="patient-detail-box-container" *ngIf="expertComment?.type_providers_impressions_closed == 1 || expertComment?.type_providers_impressions_open == 1">
    <div class="patient-detail-box-description-container">
      <h2>Provider's impression of wounds:</h2>
    </div>
    <div class="patient-detail-box-information-container">
      <h2 *ngIf="expertComment?.type_providers_impressions_closed == 1">Closed</h2>
      <h2 *ngIf="expertComment?.type_providers_impressions_open == 1">Open</h2>
    </div>
  </div>

  <div class="patient-detail-box-container" *ngIf="expertComment?.bleeding_lower_extremities == 1 || expertComment?.bleeding_lower_torso == 1 || expertComment?.bleeding_upper_extremities == 1 || expertComment?.bleeding_upper_torso == 1 || expertComment?.bleeding_neck == 1 || expertComment?.bleeding_other == 1">
    <div class="patient-detail-box-description-container">
      <h2>Bleeding location:</h2>
    </div>
    <div class="patient-detail-box-information-container">
      <h2 *ngIf="expertComment?.bleeding_lower_extremities == 1">Legs / feet</h2>
      <h2 *ngIf="expertComment?.bleeding_lower_torso == 1">Abdomen</h2>
      <h2 *ngIf="expertComment?.bleeding_upper_extremities == 1">Arms / hands</h2>
      <h2 *ngIf="expertComment?.bleeding_upper_torso == 1">Chest</h2>
      <h2 *ngIf="expertComment?.bleeding_neck == 1">Neck</h2>
      <h2 *ngIf="expertComment?.bleeding_other == 1">Other</h2>
    </div>
  </div>

  <div class="patient-detail-box-container" *ngIf="expertComment?.ruled_out_acute_coronary_syndrome == 1 || expertComment?.ruled_out_concussion == 1 || expertComment?.ruled_out_stroke == 1 || expertComment?.ruled_out_spinal_disc_herniation == 1 || expertComment?.ruled_out_fracture == 1">
    <div class="patient-detail-box-description-container">
      <h2>Ruled out:</h2>
    </div>
    <div class="patient-detail-box-information-container">
      <h2 *ngIf="expertComment?.ruled_out_stroke == 1">Stroke</h2>
      <h2 *ngIf="expertComment?.ruled_out_acute_coronary_syndrome == 1">ACS</h2>
      <h2 *ngIf="expertComment?.ruled_out_fracture == 1">Fracture</h2>
      <h2 *ngIf="expertComment?.ruled_out_spinal_disc_herniation == 1">Herniated disc</h2>
      <h2 *ngIf="expertComment?.ruled_out_concussion == 1">Concussion</h2>
    </div>
  </div>

  <div class="patient-comment-box-container" *ngIf="notedAilments != ''">
    <h2>Noted ailment(s):</h2>
    <h2>{{notedAilments}}</h2>
  </div>

  <div class="patient-detail-box-container" *ngIf="expertComment?.weak_pulse == 1 || expertComment?.strong_pulse == 1">
    <div class="patient-detail-box-description-container">
      <h2>Pulse assessment:</h2>
    </div>
    <div class="patient-detail-box-information-container">
      <h2 *ngIf="expertComment?.weak_pulse == 1">Weak</h2>
      <h2 *ngIf="expertComment?.strong_pulse == 1">Strong</h2>
    </div>
  </div>

  <div class="patient-detail-box-container" *ngIf="expertComment?.normal_skin == 1 || expertComment?.sweaty_skin == 1 || expertComment?.cold_skin == 1 || expertComment?.warm_skin == 1 || expertComment?.pale_skin == 1 || expertComment?.decreased_skin_turgor == 1">
    <div class="patient-detail-box-description-container">
      <h2>Skin assessment:</h2>
    </div>
    <div class="patient-detail-box-information-container">
      <h2 *ngIf="expertComment?.normal_skin == 1">Normal</h2>
      <h2 *ngIf="expertComment?.sweaty_skin == 1">Sweaty</h2>
      <h2 *ngIf="expertComment?.cold_skin == 1">Cold</h2>
      <h2 *ngIf="expertComment?.warm_skin == 1">Warm</h2>
      <h2 *ngIf="expertComment?.decreased_skin_turgor == 1">Decreased turgor</h2>
      <h2 *ngIf="expertComment?.pale_skin == 1">Pale</h2>
    </div>
  </div>

  <app-simple-yes-no-detail-display [description]="'Morphine administered:'" [input]="expertComment?.morphine_administered"></app-simple-yes-no-detail-display>
  <app-simple-yes-no-detail-display [description]="'Epinephrine administered:'" [input]="expertComment?.epinephrine_administered"></app-simple-yes-no-detail-display>
  <app-simple-yes-no-detail-display [description]="'Catecholamine required:'" [input]="expertComment?.morphine_administered"></app-simple-yes-no-detail-display>
  <app-simple-yes-no-detail-display [description]="'Stable vitals:'" [input]="expertComment?.stable_vitals"></app-simple-yes-no-detail-display>
  <app-simple-yes-no-detail-display [description]="'Vital measurement not necessary:'" [input]="expertComment?.vital_measurement_not_necessary"></app-simple-yes-no-detail-display>
  <app-simple-yes-no-detail-display [description]="'Patient transported in ambulance:'" [input]="expertComment?.patient_transported_in_ambulance"></app-simple-yes-no-detail-display>
  <app-simple-yes-no-detail-display [description]="'Patient transferred:'" [input]="expertComment?.patient_transferred"></app-simple-yes-no-detail-display>

  <app-table-result-display [normal]="expertComment?.normal_table_result" [abnormal]="expertComment?.abnormal_table_result" [severe]="expertComment?.severe_table_result"></app-table-result-display>
</div>
