<div class="header"><h1>- ILLNESS ASSESSMENT -</h1></div>
<div class="patient-detail-container">

  <div class="patient-large-comment-box-container" *ngIf="illnessAssessment?.injury_detail != null">
    <h2>Illness detail: </h2>
    <h2>{{injury_detail}}</h2>
  </div>

  <div class="patient-comment-box-container" *ngIf="illnessAssessment?.illness_group != null">
    <h2>Illness group code: </h2>
    <h2>{{illness_group}}</h2>
  </div>

  <div class="patient-comment-box-container" *ngIf="illnessAssessment?.illness_type != null">
    <h2>Illness type: </h2>
    <h2>{{illness_type}}</h2>
  </div>

  <app-simple-yes-no-detail-display *ngIf="illnessAssessment?.main_diagnosis_yes_or_no != null" [description]="'Main diagnosis:'" [input]="illnessAssessment?.main_diagnosis_yes_or_no"></app-simple-yes-no-detail-display>

  <div class="patient-comment-box-container" *ngIf="diagnoses.length != 0">
    <h2>Diagnoses: </h2>
    <h2>{{arrayToString.arrayToString(diagnoses)}}</h2>
  </div>

  <div class="patient-detail-box-container" *ngIf="illnessAssessment?.diagnosis_severity != 0 && illnessAssessment?.diagnosis_severity != null">
    <div class="patient-detail-box-description-container">
      <h2>Severity: </h2>
    </div>
    <div class="patient-detail-box-information-container">
      <h2 *ngIf="illnessAssessment?.diagnosis_severity == 1">Minor</h2>
      <h2 *ngIf="illnessAssessment?.diagnosis_severity == 2">Moderate</h2>
      <h2 *ngIf="illnessAssessment?.diagnosis_severity == 3">Severe</h2>
    </div>
  </div>

</div>
